:root{
    --primary-color: #333;
    --secondary-color: #fff;
    --tertiary-color: #dfdede;
    --background-color: #f0f0f0;
}
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header a{
    color: #fff;
    text-decoration: none;
    margin: 0;
}

#header-left, #header-right{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#header-right{
    justify-content: end;
    padding: 20px;
}

#header-left img{
    width: 64px;
    height: 64px;
    margin-left: 10px;
    margin-right: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#home-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.menu-buttons{
    width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.main-quiz{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
}
.menu-buttons:hover{
    background-color: var(--tertiary-color);
    transition: 250ms;
    width: 95%;
    height: 60px;
}

#custom-quiz-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.custom-quiz-entry{
    width: 500px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#custom-quiz-options{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: #dedddd;
    border-radius: 40px;
}
/* QuizPage styles*/

#div-question{
    display: flex;
    width:100%;
    padding: 20px;
    flex-direction: column;
    justify-content: start;
}

#div-question h1, h2{
    margin-top: 0;
    margin-bottom: 0;
}

#div-answers{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button-answer{
    width: 90%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    text-wrap: wrap;
    cursor: pointer;
}

.button-answer:hover{
    background-color: var(--tertiary-color);
    transition: 250ms;
    width: 95%;
    height: 60px;
}